:root {
	--primary-bg-color: rgb(41, 44,51);
	--primary-text-color: rgb(218, 218, 222);
}
body {
	background-color: var(--primary-bg-color);
	color: var(--primary-text-color);
	font-family: Arial, Helvetica, sans-serif
}

button {
	background-color: var(--primary-bg-color);
	color: var(--primary-text-color);
	padding: 20px;
	border: 1px solid var(--primary-text-color);
	border-radius: 5%;
	text-transform:uppercase;
	font-family: Arial, Helvetica, sans-serif;
}

ul {
	list-style:lower-greek;
}

a {
	color: var(--primary-text-color);
	text-decoration: none;
}

a:hover {
	opacity: 0.5; 
}